
p > a{
    color: #B153D7;
}


.content{
    height: auto;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: auto;
    row-gap: 5%;
    justify-content: center;
}

.kontener{
    text-align: left;
    float: left;
    font-size: 1.25rem;
    color: #3B1E54;
    padding: 2%;
    background-color: #D4BEE4;
    width: 40%;
    margin-left: 5%;
    border-radius: 0.625rem;
}

.o-mnie .kursy .electro {
    width: 100%;
}

.omnie-tekst{
    transform: rotate(2deg);
    transition: 0.5s ease-in-out;
    margin-top: 15%;
}
.omnie-tekst:hover{
    transform: rotate(0);
}

.omnie-zdjecie{
    text-align: center;
    width: 40%;
    transform: rotate(-5deg);   
    transition: 1s ease-in-out;
}
.omnie-zdjecie:hover{
    transform: rotate(-2deg);
}

.kursy-tekst{
    margin-left: 5%;
    transform: rotate(3deg);
    transition: 0.5s ease-in-out;
    float: right;
    margin-right: 10%;
}
.kursy-zdjecie{
    float: left;
    width: 30%;
    text-align: center;
    transition: 1s ease-in-out; 
    margin-left: 10%;
    padding: 1%;
    transform: rotate(3deg);
}
.kursy-tekst:hover{
    transform: rotate(0);
}
.kursy-zdjecie:hover{
    transform: rotate(0);
}
.kursy-zdjecie > img {
    width: 33.3%;
    border-radius: 0.9375rem;
    float: left;
}
.schodki1{
    margin-right: 66.6%;
}
.schodki2{
    margin-right: 33.3%;
    margin-left: 33.3%;
}
.schodki3{
    margin-left: 66.6%;
}

.electro-tekst{
    transition: ease-in-out 0.7s;
    transform: rotate(2deg);
    float: left;
}
.electro-zdjecie {
    transition: ease-in-out 0.7s;
    text-align: center;
    transform: rotate(-1deg);
    float: right;
    margin-right: 5%;
}

.electro-tekst:hover {
    transform: rotate(0deg);
}
.electro-zdjecie:hover{
    transform: rotate(0deg);
}

.zdjecie{
    border-radius: 0.9375rem;
    max-width: 100%;
    height: auto;
}