
p > a{
    color: #B153D7;
}

.content{
    width: 100%;
    z-index: 1;
}

.kontener{
    text-align: left;
    width: 50%;
    float: left;
    font-size: 20px;
    color: #3B1E54;
    padding: 2%;
    background-color: #D4BEE4;
    width: 40%;
    margin-left: 5%;
    border-radius: 10px;
    margin-top: 5%;
}

.o-mnie .kursy {
    width: 100%;
}

.omnie-tekst{
    transform: rotate(2deg);
    transition: 0.5s ease-in-out;
}
.omnie-tekst:hover{
    transform: rotate(0);
}

.omnie-zdjecie{
    text-align: center;
    transform: rotate(-5deg);   
    transition: 1s ease-in-out;
}
.omnie-zdjecie:hover{
    transform: rotate(-2deg);
}

.omnie-zdjecie > img {
    height: 500px;
    border-radius: 15px;
}

.kursy-tekst{
    margin-top: 10%;
    transform: rotate(3deg);
    transition: 0.5s ease-in-out;

}

.kursy-zdjecie{
    text-align: center;
    transition: 0.5s ease-in-out; 

}
.kursy-zdjecie > img {
    width: 33.3%;
    border-radius: 15px;
    float: left;
}

.schodki1{
    margin-right: 66.6%;
}
.schodki2{
    margin-right: 33.3%;
    margin-left: 33.3%;
}
.schodki3{
    margin-left: 66.6%;
}