@media screen and (max-width:64.0625rem){
    .pwrt{
        display: none;
    }
    .omnie-tekst .omnie-zdjecie .kursy-tekst .kursy-zdjecie .electro-text .electro-zdjecie{
        margin: 0;
    }
    .omnie-tekst .kursy-tekst .electro-text{
        font-size: 0.625rem;
    }
    .kursy-zdjecie .kursy-tekst{
        width: 50%;
    }
    

    
}
@media screen and (max-width:37.5rem) {
   
    .omnie-tekst .kursy-tekst .electro-text{
        font-size: 0.625rem;
    }
    .omnie-tekst{
        margin: 2%;
        width: auto;
        transform: rotate(1deg);
    }
    .omnie-zdjecie{        
        margin: 2%;
        transform: rotate(-1deg);
        width: auto;
    }
    .kursy-tekst{
        margin: 2%;
        margin-top: 5%;
        width: auto;
        transform: rotate(1deg);
    }
    .kursy-zdjecie{
        margin: 2%;
        width: auto;
        transform: rotate(-1deg);
    }
}
@media screen and (max-width:26.875rem) {
    *{
        font-size: 0.9375rem;
    }
    h1{
        font-size: 1.125rem;
    }
    .omnie-zdjecie{
        margin-left: 12%;
    }
    .zdjecie {
        height: 21.875rem;
    }
    .kursy-zdjecie{
        width: 70%;
        margin-left: 15%;

    }
}
@media screen and (max-width:20rem){
   .main-opis{
    font-size: 0.75rem;
   }
    .main-title{
        font-size: 1.5625rem;
    }
    .zdjecie {
        height: 15.625rem;
    }
}