*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

body{
        background: radial-gradient(circle at bottom, navy 0, black 100%);
        height: 100%;
        font-family: "Roboto", sans-serif;
        color: white;
        display: grid;
        /* row-gap: 5%; */
        grid-template-rows: 2fr 3fr;
}

a{
    text-decoration: none;
    color: white;
}

.space {
  background: rgba(128, 0, 128, 0.1) center / 12.5rem 12.5rem round;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.stars1 {
  animation: space 180s ease-in-out infinite;
  background-image:
    radial-gradient(
      0.0625rem 0.0625rem at 1.5625rem 0.3125rem, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      0.0625rem 0.0625rem at 3.125rem 1.5625rem, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      0.0625rem 0.0625rem at 7.8125rem 1.25rem, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      0.0938rem 0.0938rem at 3.125rem 4.6875rem, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      0.125rem 0.125rem at 0.9375rem 7.8125rem, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      0.1563rem 0.1563rem at 6.875rem 5rem, 
      white, 
      rgba(255, 255, 255, 0)
    );
}
.stars2 {
  animation: space 240s ease-in-out infinite;
  background-image:
    radial-gradient(
      0.0625rem 0.0625rem at 4.6875rem 7.8125rem, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      0.0625rem 0.0625rem at 6.25rem 4.6875rem, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      0.0938rem 0.0938rem at 12.4375rem 6.25rem, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      0.125rem 0.125rem at 1.25rem 3.125rem, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      0.1563rem 0.1563rem at 6.25rem 0.3125rem, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      0.1563rem 0.1563rem at 0.3125rem 0.3125rem, 
      white, 
      rgba(255, 255, 255, 0)
    );
.stars3 {
  animation: space 300s ease-in-out infinite;
  background-image:
    radial-gradient(
      0.0625rem 0.0625rem at 0.625rem 0.625rem, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      0.0625rem 0.0625rem at 9.375rem 9.375rem, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      0.0938rem 0.0938rem at 3.75rem 10.625rem, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      0.0938rem 0.0938rem at 10.9375rem 11.25rem, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      0.125rem 0.125rem at 12.1875rem 5.9375rem, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      0.1563rem 0.1563rem at 5.9375rem 9.0625rem, 
      white, 
      rgba(255, 255, 255, 0)
    );
}
}

@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }
}
