.top{
    width: 100%;
    text-align: center;
    font-size: 200%;
    padding: 5%;
}

.top-links > a{
    margin: 2%;
}

.main{
    text-align: center;
}

.main-title{
    font-size: clamp(3.125rem, calc(4vw + 1rem), 5rem);
}

.main-opis{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    font-size: 1.25rem;
    /* margin-top: 2%; */
}

.main-przycisk{
    width: 80%;
    margin: 10%;
    margin-bottom: 60%;
}

.przycisk-wiecej{
    color: black;
    font-size: 1.25rem;
    background-color: lightgray;
    border-radius: 0.625rem;
    width: auto;
    height: auto;
    padding: 4%;
    text-decoration: none;
}
